<a href="https://colab.research.google.com/github/RJose23/MinorAI_IITRopar/blob/main/Data_structures.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Tuples

In [2]:
t1 = (10,20,30,40)
print(t1)

(10, 20, 30, 40)

In [3]:
type(t1)

tuple

In [5]:
#Accessing items in a tuple

t1[0]
t1[1:3]

(20, 30)

In [6]:
#Tuples allow duplicates

t2 = (1,2,2,3)
print(t2[1:3])

(2, 2)

In [8]:
# Immutable

t2[0] = 100 # Tuple does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [9]:
t2[4] = 0  # Immutable even in the case of appending

TypeError: 'tuple' object does not support item assignment

In [10]:
# Concatenating 2 tuples

t3 = t1 + t2

In [11]:
# Repetition

t4 = t1 * 3
print(t4)

(10, 20, 30, 40, 10, 20, 30, 40, 10, 20, 30, 40)

In [12]:
# Nested tuple

t5 = [t1,1,2]
print(t5)

[(10, 20, 30, 40), 1, 2]

In [15]:
# Nesting list inside a tuple

t6 = (t1,[0.1,0.2])
print(t6)

# You can go in and change the values within the list, which is nested in the tuple

t6[1][1] = 0.3
print(t6)

((10, 20, 30, 40), [0.1, 0.2])
((10, 20, 30, 40), [0.1, 0.3])

**Dictionary**

In [16]:
d1 = {"name":"Arun", "age":30, "city":"Chennai"}
print(d1)

{'name': 'Arun', 'age': 30, 'city': 'Chennai'}

In [17]:
#indexing
print(d1["age"])

30

In [20]:
#mutable

d1["city"] = "Delhi"
print(d1)

#appending a new value
d1["country"] = "India"
print(d1)

{'name': 'Arun', 'age': 30, 'city': 'Delhi'}
{'name': 'Arun', 'age': 30, 'city': 'Delhi', 'country': 'India'}

In [21]:
d1.get("city")

'Delhi'

In [22]:
# Removing an element from a dictionary

In [23]:
d1.pop("country")
print(d1)

{'name': 'Arun', 'age': 30, 'city': 'Delhi'}

In [24]:
d1.items()

dict_items([('name', 'Arun'), ('age', 30), ('city', 'Delhi')])

In [26]:
x = d1.items()
print(type(x))

<class 'dict_items'>

In [27]:
for k,v in d1.items():
  print(k,v)

name Arun
age 30
city Delhi

In [29]:
#list comprehension

new_list = [x**3 for x in range(1,11)]
print(new_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [30]:
new_list = [x**2 for x in range(1,11) if x%2==0]
print(new_list)

[4, 16, 36, 64, 100]

In [31]:
#Dictionary comprehension

new_dict = {x:x**2 for x in range(1,11)}
print(new_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [43]:
#Fibonacci sequence

def fibo(n):
  fseq = [0,1]
  if n == 1:
    print(0)
  if n == 2:
    print(fseq)
  else:
    while n > fseq[-1]+ fseq[-2]:
      fseq.append(fseq[-1]+ fseq[-2])
    return fseq

In [44]:
fibo(5)

[0, 1, 1, 2, 3]